.quillPanel {
	height:725px;
	max-height:725px;
	max-width: 820px;
	overflow:scroll;
}

.newPostImageContainer {
	height:250px;
}

.newPostImgContRtPane {
	position:relative;
	left:400px;
}

.newPostImgContRtPaneContent {
	text-align:center;
	margin-left:-85px;
}

.newPostImgContRtPaneImg {
	max-width:75%;
	max-height:75%;
}

.newPostButton {
	float:right;
}

.newPostBookCitationContainer {
	height:775px;
}
.newPostBookCitationContent {
	padding:10px;
}

.newPostInputs {
	width:100%;
}

.headerLink {
	textDecoration:none;
	color:white;
}

.dshBrdUsrPst {
	padding:20px;
}

.dshBrdUsrPstLink {
	text-decoration: none;
	color:black;
}

.dshBrdUsrPubSwitch {
	position: relative;
	float: right;
	top:-27px;
}

.dshBrdAddChButton {
	float:right;
	height: 47px;
	top:-1px;
}

.dshBrdEditButton {
	margin-right:10px;
	height: 47px;
	top:-1px;
}

.dshBrdDelButton {
	height: 47px;
	top:-1px;
}

.dshBrdButtonTxt {
	color:white;
}

.dshBrdGridContainer {
	height:250px;
}

.blogLink {
	textDecoration:none;
	color:black;
}

.tagContainer, .userReadOut {
	margin-top:100px;
    padding: 10px, 10px, 10px, 0px;
    width: 375px; 
}

.userDetails {
	font-size: 22px;
    float: right;
}

.about {
	color:white;
	padding-top:20px;
	padding-left:5%;
	padding-right:5%;
}

.headerDivider {
	color:white;
	padding-top:20px;
	padding-left:5%;
	padding-right:5%;
	border-right:solid;
}

.loginDisplayColor {
	color:white !important;
}

.logoutDisplay {
	display: contents !important;
}

.root {
    flexGrow: 1;
}

.citationButtonHeader{
	position: relative;
	top: 5px;
	font-size: 20px;
}

#citationSubmit {
	float: right;
}

.listOfBooks, .bookCitationListItem {
	max-height:675px;
	overflow:scroll;
}

.listOfBooksItem {
	height:75px;
}

.bookCitationList {
	vertical-align: top;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 50px;
	position: relative;
}

.bookCitationBookTitle, .bookCitationChapterTitle {
	margin: 0 auto;
    font-size: 30px;
}

.circularProgress {
	margin: auto;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.citationUploadButton {
	float: right;
	margin-top: -6px !important;
}

.citationBookTitle, .citationChapterTitle {
	text-align: center;
}

.citationContainer {
	height:750px;
}

.citationContainerList {
	max-height:640px;
	overflow: scroll;
}

.ag-header-cell-text {
	margin: 0 auto;
}

.ag-selection-checkbox {
	margin: 0 auto !important;
}

.ag-cell-wrapper {
	height: 100%;
}

.usersPosts {
	max-height: 650px;
	width: 1000px;
	overflow: scroll;
	width: 100%;
}

.chiefOpsControls {
	text-align: center;
	padding-bottom: 25px;
	font-size: 18px;
}
.chapterForm {
	margin-top: 10px;
}

.chapterFormHeading {
	text-align:center;
	width:100%
}

.chapterFormControls {
	width:100%;
}
.chapterFormPageControls {
	display: flex;
}

.chapterNumDisplay {
	text-align: center !important;
}

.sideBorder {
	border-top: 1px solid gray !important;
	border-left: 1px solid gray !important;
	border-right: 1px solid gray !important;
}

.chapterCitationButtonRow {
    text-align: center !important;
}
.chapterCitationButton {
    margin-left:10px;
}

.columnTitles {
	font-size:25px;
	text-align:center;
}

.modalInputField {
	width:100%
}

.modalInputFileUploadSpace {
	border: 1px dashed grey;
	padding: 20px;
}

.commentTextBox {
	width:1225px;
}

.commentButtonContainer {
	margin-top:50px;
}

.commentAddButton {
	float:right;
}

.commentCancelButton {
	float:right;
	margin-right:10px;
}

